<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.example.contact"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".MyContacts"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowserActivity"
            android:label="@string/title_activity_browser" >
        </activity>

        <service
            android:name="com.android.example.contact.service.MyService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.example.contact.CONTACT_SENDER" />
            </intent-filter>
        </service>

        <!-- 
        <receiver android:name="com.android.example.contact.receiver.MyReceiver" >
            <intent-filter>
                <action android:name="com.android.example.contact.CONTACT_RECEIVER" >
                </action>
            </intent-filter>
        </receiver>
         -->
    </application>

</manifest>